REACT_APP_SERVER_URL=your_deployed_backend_url/api/v1/
REACT_APP_GOOGLE_CLIENT_ID=your_google_client_id
REACT_APP_GHN_TOKEN=your_ghn_token
REACT_APP_GHN_SHOP_ID=your_ghn_shop_id
REACT_APP_GHN_FROM_DISTRICT_ID=your_district_id
REACT_APP_GHN_FROM_WARD_CODE=your_ward_code

REACT_APP_REDIRECT_LOGIN_GOOGLE=your_deployed_frontend_url
REACT_APP_REDIRECT_LOGIN_FACEBOOK=your_deployed_frontend_url/dang-nhap
